.ss-sticky-nav-bar {
    background-color: #464b4f;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #f9fdfd;
}

.container {
    padding-top: 68px;
}

/* Table Styling */
.ss-course-list-table td {
    white-space: nowrap;
}

.ss-title-col {
    width: 55%;
}

.ss-owned-by-col {
    width: 15%;
}

.ss-last-modified-col {
    width: 15%;
}

.ss-grip-col {
    width: 5%;
}

.ss-alpha-sort-col {
    width: 5%;
}

.ss-trash-icon-col {
    width: 5%;
}

.ss-course-editor-link {
    text-decoration: none;
}

.ss-title-col a:hover .ss-table-content, .ss-title-col a:hover .ss-table-content {
    color: #2d2d86;
}

.ss-table-content {
    color: #373b3e;
    padding-left: 5px;
}

.ss-course-list-table tr {
    line-height: 40px;
}

.ss-date-col {
    font-weight: bold;
    padding: 1.0rem 0.5rem 0 0.5rem;
}

.title {
    padding-top: 5px;
}

.ss-dashboard-title {
    padding-left: 15px;
}

@media screen and (max-width: 1112px) {
    .ss-dashboard-title {
        display: none;
    }
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .ss-alpha-sort-col {
        display: none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }
}

@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }
}

.ss-plus-floating-icon {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.ss-plus-icon {
    padding-top: 5px;
}

.ss-plus-icon a {
    text-decoration: none;
    color: #ca4f40;
}

.ss-plus-icon a:hover {
    color: #cc0000;
    color: #cc0000;
}

.ss-trash-icon-col a {
    text-decoration: none;
    color: inherit;
}

.ss-trash-icon-col a.ss-trash-icon:hover {
    color: #cc0000;
}