.ss-sticky-nav-bar {
    background-color: #464b4f;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #f9fdfd;
}

.container {
    padding-top: 68px;
}

/* Table Styling */
.ss-course-list-table td {
    white-space: nowrap;
}

.ss-title-col {
    width: 50%;
}

.ss-owned-by-col {
    width: 15%;
}

.ss-last-modified-col {
    width: 15%;
}

.ss-grip-col {
    width: 5%;
}

.ss-alpha-sort-col {
    width: 5%;
}

.ss-trash-icon-col {
    width: 5%;
}

.ss-date {
    padding-top: 10px;
}

.ss-course-editor-link {
    text-decoration: none;
}

.ss-table-content {
    color: #373b3e;
    padding-left: 5px;
}

.ss-course-list-table tr {
    line-height: 40px;
}

@media screen and (max-width: 835px) {
     .ss-dashboard-title {
         display: none;
     }
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .ss-alpha-sort-col {
        display: none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }
}

@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }

}

.ss-plus-floating-icon {
    position:fixed;
    right:0;
    bottom:0;
    padding: 20px;
    color: #ca4f40;
}

.ss-plus-icon {
    text-decoration: none;
    color: inherit;
}

.ss-trash-icon-col a {
    text-decoration: none;
    color: inherit;
}

.ss-trash-icon-col a.ss-trash-icon:hover {
    color: #000000;
}