.ss-title-header {
    background-color: #464b4f;
    padding: 10px;
    position: sticky;
    width: 100%;
    z-index: 1;
    color: #f9fdfd;
    text-align: center;
}

.container {
    /*padding-top: 75px;*/
}

.ss-username-col, .ss-password-col, .ss-firstname-col, .ss-lastname-col {
    width: 20%;
}

.ss-role-col {
    width: 10%;
}

.ss-table tr {
    line-height: 40px;
}

.ss-table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.ss-table thead {
    flex: 0 0 auto;
    background-color: #f9fdfd;
}

.ss-table thead, th {
    position: sticky;
    top: 0;
}

.ss-table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.ss-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.ss-row-icon {
    padding: 5px;
}

.ss-action-icons {
    white-space: nowrap;
}

.ss-hide-password {
    -webkit-text-security: disc;
}

.ss-icon {
    pointer-events: none;
}

.ss-btn {
    border: none;
    background-color: inherit;
}

.ss-delete-btn {
    color: #ff5050;
}

.ss-delete-btn:hover {
    color: #990000;
}

.ss-create-btn {
    color: #00b300;
}

.ss-create-btn:hover {
    color: #006600;
}

.ss-update-btn {
    color: #0044cc;
}

.ss-update-btn:hover {
    color: #002266;
}

.ss-select-btn {
    color: #5900b3;
}

.ss-select-btn:hover {
    color: #330066;
}

.ss-search-btn {
    color: #595959;
}