html, body {
    height: 100%;
}

.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.ss-sticky-header {
    background-color: #464b4f;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    --bs-gutter-x: 0;
}

.ss-brand-title-header {
    padding-left: 20px;
}

.ss-brand {
    color: #d9d9d9;
}

.ss-brand-title-header a.ss-brand:hover {
    color: #f9fdfd;
}

.ss-cancel-icon {
    padding: 10px;
    color: #d9d9d9;
    text-decoration: none;
}

.ss-brand-title-header a.ss-cancel-icon:hover {
    color: #f9fdfd;
}

.ss-nav-pills a {
    color: #d9d9d9;
}

.ss-nav-pills a:hover {
    color: #f9fdfd;
}

.ss-topics-nav {
    padding-top: 20px;
    padding-left: 10px;
}

.ss-module-col {
    width: 25%;
}

.ss-module-list-col {
    background-color: #373b3e;
}


ul.ss-module-list-group {
    background-color: #373b3e;
    margin: 20px 0;
}

.ss-module-list-group-item {
    float: left;
    border: 0;
    margin: 0;
    padding: 10px 0;
    background-color: #373b3e;
}

.ss-module-list-group-item.active {
    background-color: #373b3e;
}

.ss-module-link.active {
    background-color: #4890e4;
}

a {
    text-decoration: none;
    color: #d9d9d9;
}

a:hover  {
    color: #ffffff;
}

.ss-module-delete-icon {
    padding-top: 5px;
}

.ss-module-link a.ss-module-delete-icon-link:hover {
    color: #cc0000;
}

.ss-plus-icon {
    color: #f9fdfd;
}

.ss-module-plus-icon {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ss-module-link {
    display: block;
    padding: 15px;
    background-color: #4c5154;
    color: #e7ecef;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.ss-topics-nav-item {
    background-color: #7a7a7a;
    margin-left: 10px;
    border-radius: 5px;
}

.ss-topics-nav .ss-topics-nav-item-link.active{
    background-color: #484848;
}