html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ss-sign-in-container {
    width: 500px;
}

.title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ss-back-option {
    color: #373b3e;
    text-decoration: none;
}

.ss-forgot-pass-col a {
    text-decoration: none;
}

.ss-sign-up-col a {
    text-decoration: none;
}